////
/// This file has global variables
/// @group variables
////

/// @group responsive
/// @name extra-small
$extra-small: 1em !default;
/// @group responsive
/// @name small
$small: 34em !default;
/// @group responsive
/// @name medium
$medium: 48em !default;
/// @group responsive
/// @name large
$large: 62em !default;
/// @group responsive
/// @name column number
$col: 24 !default;

/// @group pixels to ems
/// @name 1 pixel
$px1: 0.0625em !default;
/// @group pixels to ems
/// @name 2 pixels
$px2: 0.125em !default;
/// @group pixels to ems
/// @name 4 pixels
$px4: 0.25em !default;
/// @group pixels to ems
/// @name 8 pixels
$px8: 0.5em !default;
/// @group pixels to ems
/// @name 12 pixels
$px12: 0.75em !default;
/// @group pixels to ems
/// @name 16 pixels
$px16: 1em !default;