@import '../variables.scss';

@mixin calc-grid-column($index, $class, $type) {
    @if $type == width {
        @if $index == $col {
            .col-#{$class}-inline {
                width: auto;
            }
            .#{$class}-table { 
                display: table;
            }
            .#{$class}-cell {
                display: table-cell;
                vertical-align: middle;
            }
            .col-#{$class}-#{$index} {
                width: percentage($index / $col);
            }
        } @else {
            .col-#{$class}-#{$index} {
                width: percentage($index / $col);
            }
        }
    } @else if $type == push {
        .push-#{$class}-#{$index} {
            left: percentage($index / $col);
        }
    } @else if $type == pull {
        .pull-#{$class}-#{$index} {
            right: percentage($index / $col);
        }
    } @else if $type == offset {
        .offset-#{$class}-#{$index} {
            margin-left: percentage($index / $col);
        }
    }
}

@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}

@mixin make-grid($class) {
    @include loop-grid-columns($col, $class, width);
    @include loop-grid-columns($col, $class, push);
    @include loop-grid-columns($col, $class, pull);
    @include loop-grid-columns($col, $class, offset);
}
