@import '../variables.scss';
@import '../mixins.scss';
@import 'grid-mixin.scss';

.row {
    margin-left: -$px16;
    margin-right: -$px16;
}
[class*="col"] {
    display: inline-block;
    padding-left: $px16;
    padding-right: $px16;
    vertical-align: top;
    @include prefix((box-sizing: border-box), webkit moz);
}
[class*="pull"], [class*="push"], [class*="col"] { position: relative; }
[class*="pull"] { left: auto; }
[class*="push"] { right: auto; }

@include make-grid(xs);
@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);
